<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.gyun.ounce.mapper.MainMapper">
    <select id="MainProfileInquiry" resultType="MainProfile">
        SELECT profileName, profileURL, profileCatWeight, profileCatNeutral, profileCatAge, profileInfo, (SELECT count(follow.followingIdx) FROM follow WHERE follow.followingIdx = #{profileIdx}) as MyFollowingCount, (SELECT count(follow.followerIdx) FROM follow WHERE follow.followerIdx = #{profileIdx}) as MyFollowerCount
        FROM profile
        WHERE profileIdx = #{profileIdx};
    </select>
</mapper>