<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.gyun.ounce.mapper.ProfileMapper">
    <insert id="profileRegister" parameterType="me.gyun.ounce.dto.ProfileRegister" useGeneratedKeys="true" keyProperty="profileRegister.profile.profileIdx">
        INSERT INTO profile (profileName, profileURL, profileCatWeight, profileCatNeutral, profileCatAge, profileInfo, userIdx)
        VALUES (#{profileRegister.profile.profileName}, #{profileRegister.profile.profileURL}, #{profileRegister.profile.profileCatWeight}, #{profileRegister.profile.profileCatNeutral}, #{profileRegister.profile.profileCatAge}, #{profileRegister.profile.profileInfo}, #{profileRegister.userIdx})
    </insert>

    <select id="profileRegisterLimit" resultType="int">
        SELECT count(userIdx) FROM profile WHERE userIdx = #{userIdx}
    </select>

    <update id="profileUpdate">
        UPDATE profile SET profileName = #{profile.profileName}, profileURL = #{profile.profileURL}, profileCatWeight = #{profile.profileCatWeight}, profileCatNeutral = #{profile.profileCatNeutral}, profileCatAge = #{profile.profileCatAge}, profileInfo = #{profile.profileInfo}
        WHERE userIdx = #{userIdx}
    </update>

    <select id="isMyProfile" resultType="int">
        SELECT count(profileIdx) FROM profile WHERE profileIdx = #{profileIdx} and userIdx = #{userIdx}
    </select>

    <select id="profileConversion" resultType="ProfileConversion">
        SELECT profileIdx, profileURL, profileName, profileInfo FROM profile WHERE userIdx = #{userIdx} AND profileIdx != #{profileIdx}
    </select>
</mapper>