<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.gyun.ounce.mapper.ProfileMapper">
    <insert id="profileRegister" useGeneratedKeys="true" keyProperty="profileIdx">
        INSERT INTO profile (profileName, profileURL, profileCatWeight, profileCatNeutral, profileCatAge, profileInfo, userIdx)
        VALUES (#{profile.profileName}, #{profile.profileURL}, #{profile.profileCatWeight}, #{profile.profileCatNeutral}, #{profile.profileCatAge}, #{profile.profileInfo}, #{userIdx})
    </insert>

    <select id="profileRegisterLimit" resultType="int">
        SELECT count(userIdx) FROM profile WHERE userIdx = #{userIdx}
    </select>

    <update id="profileUpdate">
        UPDATE profile SET profileName = #{profile.profileName}, profileURL = #{profile.profileURL}, profileCatWeight = #{profile.profileCatWeight}, profileCatNeutral = #{profile.profileCatNeutral}, profileCatAge = #{profile.profileCatAge}, profileInfo = #{profile.profileInfo}
        WHERE userIdx = #{userIdx}
    </update>

    <select id="isMyProfile" resultType="int">
        SELECT count(profileIdx) FROM profile WHERE profileIdx = #{profileIdx} and userIdx = #{userIdx}
    </select>
</mapper>