<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.gyun.ounce.mapper.ReviewMapper">
    <select id="myReviewCount" resultType="int">
        SELECT count(reviewIdx) FROM review WHERE profileIdx = #{profileIdx}
    </select>

    <select id="foodReviewAll" resultType="FoodReviewAllDto">
        SELECT p.profileIdx, p.profileURL, p.profileName, p.profileCatAge, r.reviewIdx, r.foodEvaluation, r.reviewRating, r.reviewPrefer, r.foodIdx
        FROM review r JOIN profile p ON r.profileIdx = p.profileIdx
        WHERE r.foodIdx = #{foodIdx}
    </select>

    <insert id="foodReviewAdd" useGeneratedKeys="true" parameterType="me.gyun.ounce.dto.fooddto.FoodReviewAddDto" keyProperty="reviewIdx">
        INSERT INTO review (reviewRating, reviewPrefer, foodEvaluation, stoolState, stoolSmell, trouble, reviewMemo, createdAt, foodIdx, profileIdx, userIdx)
        VALUES (#{reviewRating}, #{reviewPrefer}, #{foodEvaluation}, #{stoolState}, #{stoolSmell}, #{trouble}, #{reviewMemo}, #{createdAt}, #{foodIdx}, #{profileIdx}, #{userIdx})
    </insert>

    <select id="findProfileIdx" resultType="int">
        SELECT profileIdx FROM profile WHERE userIdx = #{userIdx}
    </select>

    <delete id="deleteReview">
        DELETE FROM review WHERE reviewIdx = #{reviewIdx}
    </delete>

</mapper>