<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.gyun.ounce.mapper.UserMapper">
    <select id="findByUserIdx" resultType="UserDto">
        SELECT *
        FROM user
        WHERE userIdx = #{userIdx}
    </select>

    <insert id="signUp" useGeneratedKeys="true" keyProperty="userIdx">
        INSERT INTO user (id, password, email) VALUES (#{id}, #{password}, #{email})
    </insert>

    <select id="findByLoginId" resultType="UserDto">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <update id="userUpdate">
        UPDATE user
        SET refreshToken = #{refreshToken}
        WHERE userIdx = #{userIdx}
    </update>
</mapper>